*{
    margin:0;
    padding:0;
}

html,body{
    height:100%;
    margin:0;
    padding:0;
    overflow: hidden;
}

#video-Background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

